

<div class="wrapper-login">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center" >
        <div class="side-one container">
          <div>
            <h5>Be a part of the Citadel Family</h5>
            <p class="mt-2">We look forward to welcoming you and fellowshipping with you!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex justify-content-center">
        <div class="side2-login">
          <h5>Login</h5>
          <div class="forms">
            <label for=""></label>
            <select type="text" class="form-control" >
              <option value="">Select Level</option>
            </select>
          </div>

          <div class="forms">
            <label for=""></label>
            <input class="form-control" type="text" placeholder="Username" />
          </div>

          <div class="forms">
            <label for=""></label>
            <input class="form-control" type="text" placeholder="Password" />
          </div>

          <div class="forms d-flex mt-3 justify-content-end">
            <p class="text-white">Forgot Password?</p>
          </div>

          <div class="forms">
            <button>Log In</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
